$navbar-height: 70px !default;
$serif: "Helvetica Neue", "Helvetica", Arial, serif;
$sans-serif: "Open Sans Condensed", sans-serif;

$dark: rgb(52, 73, 94);
$gray: rgb(149, 165, 166);
$blue: rgba(43, 147, 250, 0.91)