<div class="jumbotron">
  <div class="container">
    <p class="hello">
      <strong>Первый и самый быстрый</strong> в России сервис для онлайн-займов.
    </p>
    <div class="features">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="feature">
            <img src="/images/icons/quick.png" alt="...">
            <div class="caption">
              <h3>Скорость</h3>
              <p class="descr">Вся процедура занимает не более 15 минут</p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="feature">
            <img src="/images/icons/secure.png" alt="...">
            <div class="caption">
              <h3>Безопасность</h3>
              <p class="descr">Ваши деньги и данные находятся под надежной защитой</p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="feature">
            <img src="/images/icons/online.png" alt="...">
            <div class="caption">
              <h3>Все виды кошельков</h3>
              <p class="descr">Единственный в России сервис, который выдает кредиты на QIWI</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="order">
    <div class="margin">
      <div class="row">
        <div class="caption">Сколько Вам нужно?</div>
        <div class="slider"><slider floor="100" ceiling="10000" precision="0" ng-model="item.cost"></slider></div>
        <div class="how"><strong><span>{{ item.cost }} рублей</span></strong></div>
      </div>
    </div>
    
    <div class="margin">
      <div class="row">
        <div class="caption">На какой срок?</div>
        <div class="slider"><slider floor="1" ceiling="21" precision="0" ng-model="item.date"></slider></div>
        <div class="how"><strong><span>{{ item.date }} дней</span></strong></div>
      </div>
    </div>
    
    <div class="margin">
       <div class="row">
         <div class="total">Вы занимаете <strong><span>{{ item.cost }} рублей</span></strong>, вместе с процентами (<strong><span>{{ percents }} рублей</span></strong>) вам необходимо вернуть <strong><span>{{ total }} рублей</span>.</strong></div>
         <div class="get-money">
           <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#showReg">Получить деньги! <i class="glyphicon glyphicon-chevron-right"></i></button>
         </div>
       </div>
     </div>
  </div>
</div>

<div class="partners">
  <div class="jumbotron">
    <div class="container">
      <h4>Наши партнеры</h4>
      <div class="pics">
        <img src="https://ekapusta.ru/img/partner-visa.png">
        <img src="https://ekapusta.ru/img/partner-visa.png">
        <img src="https://ekapusta.ru/img/partner-visa.png">
        <img src="https://ekapusta.ru/img/partner-visa.png">
        <img src="https://ekapusta.ru/img/partner-visa.png">
        <img src="https://ekapusta.ru/img/partner-visa.png">
        <img src="https://ekapusta.ru/img/partner-visa.png">
      </div>
    </div>
  </div>
</div>
